body {
    background-color: rgb(20, 20, 30);
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: rgb(9, 148, 255);
}

.link {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    height: fit-content;
    background-color: rgb(9, 148, 255);
    padding: 0.6rem 2rem;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    transition-duration: 200ms;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.link:active {
    transform: scale(0.95);
}

.notes-p {
    font-size: 1.2rem;
    width: 50%;
    text-wrap: wrap;
}

.good {
    color: rgb(56, 255, 76)
}

.bad {
    color: rgb(243, 68, 68);
}

.back {
    width: fit-content;
    display: block;
    padding: 0.5em 1em;
    background-color: rgb(9, 148, 255);
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 200ms;
}

.back:hover {
    background-color: rgb(10, 128, 219);
}

.back:active {
    background-color: rgb(8, 114, 194);
}

.back::before {
    font-weight: 900;
    content: "<-- ";
}